In [ ]:
print("hellou")

hellou

In [ ]:
numero_telefono: str = "97654321"
num_pi: float = 3.145487
matriculado: bool = True
cantidad_alumnos: int =32

In [ ]:
print(numero_telefono)

97654321

In [ ]:
print(type(numero_telefono))
print(num_pi)
print(matriculado)
print(cantidad_alumnos)

<class 'str'>
3.145487
True
32

In [ ]:
def suma(a,b):
    resultado = a+b
    return a+b

In [ ]:
a: int = 5
if a> 10:
   print("es mayor a 10")
   print("otra linea")
   print("otra linea")
else:
  print("a no es mayor que 10")

a no es mayor que 10

# una empresa desea automatizar el calculo del salario neto de sus empleados cada empleado  tiene un nombre un cargo y un salario vase mensual el salario neto depende de unas condiciones
# 1 si el empleado gana menos de 1500 dolares recibe un bono del 10% de su salario base
# 2 si el empleado gana entre 1500 y 3000 no recibe bono ni descuento adicional
#3 si el empleado gana maas de 3000 mil dolares se le aplica un descuento del 8% por retencion de la fuente
#4 todos los empledos reciben un bono fijo por transportes de 100 dolares condiciones de la entrega utilizar todos los tipos de variables premitivo hacer uso de la estructura de control condicional y debe tener una funcion.

In [ ]:
nombre_empleado:str = "hugo"
cargo_empleado:str = "administrador"

In [ ]:
salario_empleado : int = 1500
if salario_empleado < 1500:
   print("recibe un bono de 10% de su salario")
if salario_empleado > 1500 :
   print("no recibe bono ni descuento")
if salario_empleado > 3000:
   print("se le aplica un descuento del 8% por retencion de la fuente")

else:
  print("salario_empleado es mayor a 1500")

salario_empleado es mayor a 1500

In [ ]:
las_frutas = ["fresa","mango","banano","kiwi","melon"]
las_frutas.append("mora")
print(las_frutas)

['fresa', 'mango', 'banano', 'kiwi', 'melon', 'mora']

In [ ]:
los_profesores = ["Leonardo","Esteban","andrea"]
los_profesores.append ("maria")
print(los_profesores)

['Leonardo', 'Esteban', 'andrea', 'maria']

In [ ]:
los_futbolistas = ["messi","cristiano"]
los_futbolistas.append ("james")
print(los_futbolistas)

['messi', 'cristiano', 'james']

In [ ]:
las_frutas = ["manzana","pera","melon","piña"]
las_frutas_copy = las_frutas.copy()
print(las_frutas_copy)

['manzana', 'pera', 'melon', 'piña']

In [ ]:
los_objetos = ["anillo","moña","collar","chaqueta"]
los_objetos_copy = los_objetos.copy()
print(los_objetos_copy)

['anillo', 'moña', 'collar', 'chaqueta']

count() Devuelve el número de elementos con el valor especificado

In [ ]:
los_colores = ["amarillo","azul","negro","rosado","azul"]
los_colores.count("azul")

2

In [ ]:
los_accesorios = ["anillo","manilla","anillo","collar"]
los_accesorios.count("anillo")

2

extend() Agrega los elementos de una lista (o cualquier iterable) al final de la lista actual

In [ ]:
los_animales = ["perro","gato","conejo"]
los_animales.extend(["mariposa", "ballena"])
print(los_animales)

['perro', 'gato', 'conejo', 'mariposa', 'ballena']

In [ ]:
pedido_uno = ["velas10","velas20","velas5"]
pedido_uno.extend(["stiker10","stiker20"])
print(pedido_uno)

['velas10', 'velas20', 'velas5', 'stiker10', 'stiker20']

index() Devuelve el índice del primer elemento con el valor especificado

In [ ]:
recivo_agua=["faca","madrid","mosquera"]
recivo_agua.index("mosquera")

2

In [ ]:
flores = ["rosa","clavel","astromelia","girasol"]
flores.index("clavel")

1

insert() Agrega un elemento en la posición especificada

In [ ]:
peinados =["niñas","trenzas","sepillado",]
peinados.insert(0, "alisados")
print(peinados)

['alisados', 'niñas', 'trenzas', 'sepillado']

In [ ]:
alumnos = ["juan","alfonso","maria","amarillo"]
alumnos.insert(3,"esteban")
print(alumnos)

['juan', 'alfonso', 'maria', 'esteban', 'amarillo']

pop() Elimina el elemento en la posición especificada

In [ ]:
peinados = ["niñas","trenzas","sepillados","alisados"]
peinados.pop(2)
print(peinados)

['niñas', 'trenzas', 'alisados']

In [ ]:
alumnos =["juan","alfonso","maria","tania","raton"]
alumnos.pop(4)
print(alumnos)

['juan', 'alfonso', 'maria', 'tania']

remove() Elimina el elemento con el valor especificado

In [ ]:
familia=["mama","papa","hermana","hermano","vecino"]
familia.remove("vecino")
print(familia)

['mama', 'papa', 'hermana', 'hermano']

In [ ]:
computadores=["mause","teclado","pantalla","arroz"]
computadores.remove("arroz")
print(computadores)

['mause', 'teclado', 'pantalla']

reverse() Invierte el orden de la lista

In [ ]:
deportes=["patinaje","micro","beisbol","boleibol"]
deportes.reverse()
print(deportes)

['boleibol', 'beisbol', 'micro', 'patinaje']

In [ ]:
numeros=["1","2","3","4","5"]
numeros.reverse()
print(numeros)

['5', '4', '3', '2', '1']

sort() Ordena la lista

In [ ]:
numeros=["6","4","2","6","7","8","3","6","5","6","5","3","7","9","3","2","8","3","1","2","7","8","2","7","8","9"]
numeros.sort()
print(numeros)

['1', '2', '2', '2', '2', '3', '3', '3', '3', '4', '5', '5', '6', '6', '6', '6', '7', '7', '7', '7', '8', '8', '8', '8', '9', '9']

In [ ]:
letras=["k","j","h","s","u","y","f","j","b","f","j","s","n","f","j","s","k","j","f","g","e","s","u","y","t","r","i","a","s","d","f","g","h"]
letras.sort()
print(letras)

['a', 'b', 'd', 'e', 'f', 'f', 'f', 'f', 'f', 'g', 'g', 'h', 'h', 'i', 'j', 'j', 'j', 'j', 'j', 'k', 'k', 'n', 'r', 's', 's', 's', 's', 's', 't', 'u', 'u', 'y', 'y']

clear() Elimina todos los elementos del diccionario

In [ ]:
d1={"a":1,"b":2}
d1.clear()
print(d1)

{}

In [ ]:
inventario={"pan":50,"leche":2,"arina":5}
inventario.clear()
print(inventario)

{}

In [ ]:
usuarios={"maria":20,"tatiana":33}
usuarios.clear()
print(usuarios)

{}

copy()	Returns a copy of the dictionary

In [ ]:
frutas = {}
estudiantes = {}
paises = {}

frutas.clear()
estudiantes.clear()
paises.clear()

print(frutas)
print(estudiantes)
print(paises)

{}
{}
{}

#***Tuplas:***

#Creamos 3 ejemplos de diccionarios:

In [ ]:
numeros = (1, 2, 3, 4, 2, 5, 6)
frutas = ("manzana", "madarina", "uva", "manzana", "naranja", "manzana")
booleanos = (True, False, True, False, True)
print(numeros)
print(frutas)
print(booleanos)

(1, 2, 3, 4, 2, 5, 6)
('manzana', 'madarina', 'uva', 'manzana', 'naranja', 'manzana')
(True, False, True, False, True)

##count():
###`Devuelve el número de veces que aparece un valor especificado en una tupla`

In [ ]:
print(numeros.count(2))
print(frutas.count("manzana"))
print(booleanos.count(True))

2
3
3

##index():
###`Busca en la tupla un valor específico y devuelve la posición donde se encontró.`

In [ ]:
print(numeros.index(3))
print(frutas.index("uva"))
print(booleanos.index(False))

2
2
1